@import "tailwindcss";


@layer utilities {
  @media (min-width: 1024px) and (max-width: 1380px) {
    .xm\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .xm\:w-50 {
      width: 11rem;
    }
    .xm\:h-75 {
      height: 18.75rem;
    }
  }

  @media (min-width: 764px) and (max-width: 945px) {
    .psm\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .psm\:w-50 {
      width: 11rem;
    }
    .psm\:h-75 {
      height: 10.75rem;
    }
  }
}
